html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'JetBrains Mono', monospace;
}

/* body {
    font-family: 'JetBrains Mono', monospace;
    text-align: center;
    margin: 20px;
} */

#displayContainer ul {
    list-style: none;
    padding: 0;
}

#displayContainer li {
    background-color: #f4f4f4;
    margin: 5px auto;
    padding: 10px;
    border-radius: 10px;
    width: 150px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}

#depText{
    font-size: 20px;
    font-weight: bold;
}

#displayContainer {
    display:flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    background-color: #333333;
    border-radius: 25px;
    margin:100px;
    font-family: 'JetBrains Mono', monospace;
}

.material-icons.md-36 {
    font-size: 36px; 
    margin:0;
   }
 .material-symbols-outlined.md-36 {
    font-size: 36px; 
    margin:0;
   }
